
<footer class="footer">
  <div class="footColor">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <ul class="footer-nav">
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">IOS App</a>
            </li>
            <li>
              <a href="#">Android App</a>
            </li>

          </ul>
        </div>

        <div class="col-xs-6 col-md-6">
          <ul class="soc-links">
            <li>
              <a href="#">Facebook</a>
            </li>
            <li>
              <a href="#">Twitter</a>
            </li>
            <li>
              <a href="#">Google+</a>
            </li>
            <li>
              <a href="#">Microsoft</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <p>
            CopyRight &copy; 2017 by Jozef Randjak.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
