<p id="notice"><%= notice %></p>

<div class="wrapper">



    <header>
      <div class="page-header">
        <h1>Make Your Reservation !
          <br>
          <small>Just pick up some of these buildings to make your reservation! </small>
        </h1>
      </div>
    </header>

    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
    </ol>

    <div class="list-group">
    <% @buildings.each do |building| %>

      <a class="list-group-item">
        <h4><%= building.title%> </h4>

      </a>

        <ul>
          <li>
            <%= link_to 'Rooms', rooms_path(building_id: building.id) %>
          </li>
          <li>
            <a href="today.html">Todays lectures</a>
          </li>
        </ul>
    <% end %>
    </div>

  </div>

